html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; }
h1, h2 { 
    font-family: sans-serif; 
    color: #A86C37; 
    margin: 1rem 0; 
}
a { 
    color: #377ba8;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

hr { border: none; border-top: 1px solid lightgray; }
nav { 
    background: lightgray; 
    display: flex; 
    align-items: center; 
    padding: 0 0.5rem 0 0.5rem; 
    margin-bottom: 20px;}
nav h1 { flex: auto; margin: 0; font-size: 30pt}
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }

.content { padding: 0 1rem 1rem; }
.content > header {
    border-bottom: 1px solid lightgray; 
    display: flex; 
    align-items: flex-end; 
}
.content > header h1 { 
    flex: auto; 
    margin: 0.5rem 0 0.5rem 0; 
}
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }

.main {
    padding-top:20px;
    padding-left:20px;
    display: flex; 
    flex-direction: row;
    padding-bottom: 20px;
    max-width: 750px;
    margin: auto;
}

.main .feature {
    width: 250px;
    flex-direction: row;
    padding-bottom: 20px
    padding-left: 20px;
}

.main .feature span {
    display: inline-block;
    width: 200px;
}

.main .feature a.teaserlink {
    align-self: start; 
    min-width: 10em; 
    background: #377ba8;
    color: white;
    border-style: outset;
    border-color: #377ba8;
    width: 200px;
    display: flex;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    padding: 10px 10px;
    margin-bottom: 15px;
}

.main .feature a.teaserlink:hover {
   opacity:0.8;
   text-decoration: none;
}

.info {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.info table th {
    font-weight: normal;
    font-style: italic;
}
.info table td {
    width: 100px;
}

.content:last-child { margin-bottom: 0; }
.content form { 
    padding-top: 10px;
    border-top: 1px solid lightgray;
    margin: 1em 0; 
    display: flex; 
    flex-direction: column; 
}
.content label { 
    margin-bottom: 0.5em;
    float: left;
}
.content form .row {
    flex-direction: row;
}
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
.content input[type='checkbox'] {

}

.content .help {
    margin: 10px 10px;
    padding: 10px;
    display: block;
    border-radius: 15px;
    border: 1px solid #73AD21;
    font-size: 11pt;
    border-style: dotted;
    background-color: #D4F1DC;
    color: #778;
}

.content form select {
    margin-bottom: 15px;
}
input.danger { color: #cc2f2e; }


input[type=submit] { 
    align-self: start; 
    min-width: 10em; 
    background: #377ba8;
    color: white;
    border-style: outset;
    border-color: black;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    cursor: pointer;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

input[type=submit]:hover {
   opacity:0.8;
}

.results_container:after {
    content: "";
    display: table;
    clear: both;
}

.corpus_result {
    float: left;
    width: 50%;
}

.info {
    display: flex;
    flex-direction: row;
}

.column {
    width: 50%;
    padding: 0 15px;

}

.results_container thead { 
    font-weight: bold; 
}

